[Unit]
After=network.target
Description=Ordinals LTC20 Indexer server
StartLimitBurst=120
StartLimitIntervalSec=10m

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment=RUST_LOG=info
ExecStart=/usr/local/bin/ord20-indexer
Group=ord20
LimitNOFILE=65536
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RestartSec=5s
StateDirectory=ord20
StateDirectoryMode=0700
TimeoutStopSec=10m
Type=simple
User=ord20
WorkingDirectory=/opt/ord20-indexer

[Install]
WantedBy=multi-user.target
